<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Podcaster</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/flexbox.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="bodyContainer">
    <%- include("./includes/header.ejs") %>
    <div class="informations">
      <main class="mainContainer">
        <article title="Episode 1">
          <h2><%= podcasts[id].title %></h2>
          <section title="Informationen zur Folge">
            <h3><%=podcasts[id].episodes[ep].title%></h3>
            <ul>
              <li><%=podcasts[id].episodes[ep].description%></li>
              <li><%=podcasts[id].episodes[ep].pubDate?.slice(0,10) %></li>
              <li>
                <%= podcasts[id].episodes[ep].getdurationInStundenUndMinuten()
                %>
              </li>
            </ul>
          </section>
          <section title="Podcast Abspielen">
            <h3>Abspielen</h3>
            <audio src="<%= podcasts[id].episodes[ep].audio.URL %>" controls>
              Ihr Browser unterstützt dies Audio-Element nicht.
            </audio>
          </section>
        </article>
      </main>
      <%- include("./includes/aside.ejs") %>
    </div>
    <%- include("./includes/footer.ejs") %>
  </body>
</html>
