<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Podcaster - Meine Podcasts</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/flexbox.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="bodyContainer">
    <%- include("./includes/header.ejs") %>
    <div class="informations">
      <main class="mainContainer">
        <form
          action="/"
          method="get"
          id="podSearch"
        >
          <fieldset class="podFieldset">
            <legend class="podLegend">Podcast Suche</legend>
            <input
              id="search"
              type="search"
              name="pctitle"
              size="20"
              pattern="^[A-Z].*$"
              maxlength="100"
              required
              placeholder="Titel des Podcasts"
            />
            <button class="btn" form="podSearch" type="submit">Suchen!</button>
          </fieldset>
        </form>
        <article>
          <h2><%=anzeige%></h2>
          <div id="kachelContainer">
            <% for(var i = 0; i < podcasts.length ; i++) { %>
              <a href="<%="/podcast?pc="+i%>" class="kachel" id="<%="podcastNo="+i%>">
                <img
                  src=" <%= podcasts[i].imageURL %> "
                  width="100"
                  alt="Bind des Podcasts"
                />
                <%= podcasts[i].title %>
              </a>
            <% } %>
          </div>
          <div id="podList" style="display: none">
            <ul>
            <% for(var i = 0; i < podcasts.length ; i++) { %>
              <li><a href="<%="/podcast?pc="+i%>">

                <%= podcasts[i].title %> 
              </a> - <%= podcasts[i].episodes.length %> Folgen</li>
            <% } %>
            </ul>
          </div>
        <form
          action="/abonnieren"
          method="post"
          id="podSub"
        >
          <fieldset class="podFieldset">
            <legend class="podLegend">Podcast abonnieren</legend>
            <label for="sub">URL:</label>
            <input
              id="sub"
              type="url"
              name="pcurl"
              maxlength="100"
              required
            />
            <button class="btn" form="podSub" type="submit">Abonnieren!</button>
          </fieldset>
        </form>
        </article>
      </main>
      <%- include("./includes/aside.ejs") %>
    </div>
    <%- include("./includes/footer.ejs") %>
    <script src="/js/index.js"></script>
  </body>
</html>
